<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
<body>
    <p>Lista de livros</p>
    <table>
        <tr>
            <td>Código</td>
            <td>Titulo</td>
        </tr>
        <tr  for(Livro in data.Livros)>
            <td>${Livro.id}</td>
            <td>${Livro.title}</td>
        </tr>
    </table>
</body>
</html>